<div class="xxx-page">
  <div class="xxx-page-title">Angular 9 Seed App</div>
  <div class="xxx-main-card">
    <p>This is the Angular 9 Seed App.</p>
    <p>Use this to start your new project in Angular 9.</p>
    <p>It has the configurations and structure for a large scale application.</p>
    <p>This design follows <b>Angular Best Practices</b></p>
    <p>Check out the README for more information.</p>
    <p>Full source available at <a
        href="https://github.com/angularexample/angular-9-seed-app">https://github.com/angularexample/angular-9-seed-app</a>
    </p>
    <h3>Written in Angular 9</h3>
    <h4>By JC Lango</h4>
    <p>See more Angular examples at <a
        href="https://github.com/angularexample">https://github.com/angularexample</a>
    </p>
  </div>
</div>
